//@font-face {
//  font-family: "Georgia";
//  src: url("../fonts/georgia.woff") format("woff");
//}
@import "../bootstrap-4.1.3/scss/bootstrap";
@import "../css/variables.scss";
@import "../blocks/header.scss";
@import "../blocks/main.scss";
@import "../blocks/footer.scss";
body {
  background-color: $colorCommonWhite;
}
.container-fluid {
  max-width: 990px;
  min-width: 350px;
}
